[submodule "pyridecore"]
	path = pyridecore
	url = https://github.com/uts-magic-lab/pyride_core.git
[submodule "celt"]
	path = celt
	url = git://git.xiph.org/celt.git
[submodule "opus"]
	path = opus
	url = https://github.com/xiph/opus
