<launch>
  <!-- <include file="$(find pr2_3dnav)/both_arms_navigation.launch"/> -->
  
  <!-- <include file="$(find pr2_2dnav_slam)/launch/pr2_2dnav.launch/> -->
  <node pkg="pyride_reem" type="pyride_reem" name="pyride_reem" output="screen" launch-prefix="gdb -ex run --args">
    <remap from="cmd_vel" to="base_controller/command" />
    <remap from="head_vel" to="head_controller/command" />
    <remap from="web" to="web/go_to" />
    <remap from="current_limit" to="current_limit_controller/command" />
    <param name="_image_transport" type="str" value="compressed"/>
    <param name="config_file" type="str" value="$(find pyride_reem)/pyrideconfig.xml"/>
    <param name="script_dir" type="str" value="$(find pyride_reem)/scripts"/>
    <param name="use_moveit" type="bool" value="false"/>
  </node>
</launch>
